:root {
    --raleway: 'Raleway', sans-serif;
    --merriweather: 'Merriweather', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regular: 500;
    --font-size-regular: 20px;
    --dark-blue: #205375;
    --blue: #21ecde;
    --white: #ffffff;
    --orange: #FFB562;
    --light: #e3e2e2;
    --gray: #3d3c3c;
    --light-gray: #DDDDDD;
    --shadow: #cbc9c9;
    --dark: #262b2e;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size-regular);
}

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3.6rem;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links {
    margin: 0 10%;
}

.links__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.7rem;
}

.links__item {
    font-family: var(--montserrat);
    font-weight: var(--weight-medium);
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
}

.links__item:hover {
    transform: scale(1.05);
    color: var(--orange);
}

.links__item.active {
    color: var(--orange);
}

.content-wrapper {
    min-height: calc(100vh - 3.6rem);
    scroll-margin-top: 3.6rem;
}

.main {
    padding-top: 3.6rem;
    display: flex;
    justify-content: center;
    column-gap: 15%;
    align-items: center;
    background-color: var(--light);
}

.avatar .avatar__img {
    border-radius: 0.4rem;
    width: 16rem;
    height: 24rem;
    box-shadow: 0.3rem -0.3rem 1rem 0.5rem var(--shadow);
}

.info__text {
    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: var(--weight-medium);
    opacity: 0.7;
}

.info__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem 0;
    text-decoration: none;
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: var(--weight-regular);
    opacity: 0.7;
    padding: 0.6rem 0;
    text-align: center;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 1rem;
    text-transform: uppercase;
    transition: 0.5s;
}

.info__button:hover {
    background-color: var(--gray);
    color: var(--light-gray);
}

.icons {
    margin: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.6rem;
}

.icons__item {
    text-decoration: none;
    font-size: 0;
}

.icons__item svg {
    width: 1.4rem;
    height: 1.4rem;
    transition: 0.2s;
}

.icons__item svg:hover {
    transform: scale(1.2);
}

.info .info__name {
    margin: 0.3rem 0;
    font-family: var(--raleway);
    letter-spacing: 1px;
    font-weight: var(--weight-bold);
    font-size: 2rem;
}

.info .info__direction {
    margin-bottom: 1em;
    font-family: var(--montserrat);
    font-size: 1.2rem;
    opacity: 0.7;
}


main .title {
    padding: 2.5rem 0.5rem 0;
    text-align: center;
    font-family: var(--montserrat);
    font-weight: var(--weight-medium);
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
}

.about {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    margin-top: 2rem;
    font-family: var(--montserrat);
    font-weight: var(--weight-bold);
    opacity: 0.8;
    font-size: 2rem;
    text-transform: uppercase;
}

.about__description {
    font-family: var(--montserrat);
    font-weight: var(--weight-bold);
    letter-spacing: 4px;
    opacity: 0.15;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.about__text {
    margin-top: 0.5rem;
    width: 35rem;
    font-family: var(--montserrat);
    font-weight: var(--weight-regular);
    line-height: 1.45rem;
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: 1rem;
}

.about__links {
    margin-top: 0.3rem;
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
}

.about__link {
    width: 13rem;
}

.skills {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
}

.skills-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__list {
    margin: 1.5rem 0.5rem;
    width: 41rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1.5rem;
}

.skills__item svg {
    width: 8rem;
    height: 8rem;
    transition: 0.3s;
}

.skills__item svg:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.skills__item-title {
    margin-top: 0.2rem;
    text-align: center;
    font-family: var(--montserrat);
    font-weight: var(--weight-regular);
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.works {
    background-color: var(--light-gray);
}

.works .work {
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow: 2px -6px 1rem var(--shadow);
    background-color: #eceaea;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.work__image {
    width: 17rem;
    max-height: 13rem;
    border-radius: 0.2rem;
    transition: 0.2s;
}

.work__image:hover {
    transform: scale(1.03, 1.04);
    cursor: pointer;
}

.work__title {
    text-align: center;
    font-family: var(--montserrat);
    font-weight: var(--weight-medium);
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.work__info {
    margin: 0.5rem 0.3rem;
    font-family: var(--montserrat);
    font-size: 0.9rem;
}

.work__skills {
    font-family: var(--montserrat);
    font-size: 0.9rem;
    margin: 0.2rem 0.3rem;
}

.works__group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 2rem;
}

.footer {
    background-color: var(--dark);
    height: 6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
}

.footer__content {
    text-align: center;
}

.footer__title {
    margin: 0.5rem;
    text-transform: uppercase;
    font-family: var(--raleway);
    font-weight: var(--weight-regular);
    font-size: 0.85rem;
    color: var(--light-gray);
}

.footer__copyright {
    margin-bottom: 0.3rem;
    font-family: var(--raleway);
    font-weight: var(--weight-regular);
    font-size: 0.7rem;
    color: var(--light-gray);
}

.popup {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    transition: 0.5s;
}

.popup_open {
    opacity: 1;
    pointer-events: all;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.popup__image img {
    max-width: 90vw;
    max-height: 90vh;
}

main .icons__item svg, .footer .icons__item svg {
    width: 1.8rem;
    height: 1.8rem;
    transition: 0.2s;
}

@media screen and (max-width: 1048px){
    .works__group{
        padding: 3rem 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(var(--font-size-regular) - 2px);
    }

    .main {
        column-gap: 8%;
    }

    .avatar .avatar__img {
        width: 12rem;
        height: 16rem;
    }

    .about__text {
        width: 26rem;
    }
}

@media screen and (max-width: 512px) {
    html {
        font-size: calc(var(--font-size-regular) - 4px);
    }

    .main {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    .about {
        padding: 0 0.8rem;
    }

    .about__text {
        max-width: 19rem;
    }

    .about__links {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        row-gap: 0.3rem;
    }

    .about__links .info__button {
        margin: 0;
        box-sizing: content-box;
    }

    .about__content {
        margin-bottom: 1rem;
    }

    .about__description {
        letter-spacing: 3px;
        font-size: 3.2rem;
    }

    .about__link {
        width: 13rem;
    }
}